{% load humanize %}

<div class="categories">
    <div class="small-container">
        <div class="row">
            
            {% if category %}
                {% for item in category  %}
                    <div class="col-3">
                        <a href="{% url 'prod_details' item.id item.slug %}"><img src="{{item.image.url}}" alt=""></a>
                    </div>
                {% endfor %}
            
            {% endif %}
        </div>
    </div>
</div>
<!-- featured categories ends here  -->

<!-- featured products  -->
<div class="small-container">
    <h2 class="title">Featured products</h2>
    <div class="row">
        {% if featured  %}
            {% for item in featured  %}
                <div class="col-4">
                    <a href="{% url 'prod_details' item.id item.slug %}"><img src="{{item.image.url}}" alt=""></a>
                    <a href="{% url 'prod_details' item.id item.slug %}"><H4>{{item.title}}</H4></a>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p class="price">
                        
                        {% if item.discount_price %}
                            <del>#{{item.price | floatformat:2 | intcomma}}</del>
                            <span>{{item.discount_price | floatformat:2 | intcomma }}</span>
                        {% else %}
                            <span>#{{item.price | floatformat:2 | intcomma}}</span>
                        {% endif %}      
                    </p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <h2 class="title">Latest Products</h2>
        <div class="row">
            {% if latest  %}
            {% for item in latest  %}
                <div class="col-4">
                    <a href="{% url 'prod_details' item.id item.slug %}"><img src="{{item.image.url}}" alt=""></a>
                    <a href="{% url 'prod_details' item.id item.slug %}"><H4>{{item.title}}</H4></a>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p class="price">
                        {% if item.discount_price %}
                            <del>#{{item.price | floatformat:2 | intcomma}}</del>
                            <span>{{item.discount_price | floatformat:2 | intcomma }}</span>
                        {% else %}
                            <span>#{{item.price | floatformat:2 | intcomma}}</span>
                        {% endif %}      
                    </p>
                </div>
            {% endfor %}
        {% endif %}
        </div>
        <div class="row">
            {% if latest2  %}
            {% for item in latest2  %}
                <div class="col-4">
                    <a href="{% url 'prod_details' item.id item.slug %}"><img src="{{item.image.url}}" alt=""></a>
                    <a href="{% url 'prod_details' item.id item.slug %}"><H4>{{item.title}}</H4></a>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p class="price">
                        {% if item.discount_price %}
                            <del>#{{item.price | floatformat:2 | intcomma}}</del>
                            <span>{{item.discount_price | floatformat:2 | intcomma }}</span>
                        {% else %}
                            <span>#{{item.price | floatformat:2 | intcomma}}</span>
                        {% endif %}      
                    </p>
                </div>
            {% endfor %}
        {% endif %}
        </div>
</div>