<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="{{offer.image.url}}" class="offer-img" alt="">
            </div>
            <div class="col-2">
                <p>Exclusively Abailable at Prodigious Store</p>
                <h1>lingeries</h1>
                <small>
                    our range of women's lingerie is a must have in any underwear drawer.
                    so, get ready to impress while you undress with the best renge of lingerie.
                </small>
                <a href="cart.html" class="btn">Buy now &#8594;</a>
            </div>
        </div>
    </div>
</div>