<!-- header and banner combinned  -->
<div class="container">
    <div class="header">
        <div class="logo">
            <a href="{% url 'index' %}"><img src="{{setting.logo.url}}" alt="Company's logo"></a>
        </div>
        <div class="navbar">
            <ul id="MenuItems">
                <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'category' %}">Category</a></li>
                {% if  user.id is not None %}
                    <li><a href="{% url 'user' %}"><img src="{{profile.image.url}}" style="border-radius: 30px; height: 50px;"></a></li>
                    <li>
                        welcome <a href="{% url 'user' %}">
                            {% if request.user.first_name %}
                                <p><strong>{{request.user.first_name}}</strong></p>
                            {% else %}
                                <p><strong>{{request.user.username}}</strong></p>
                            {% endif %}   
                        </a>
                    </li>
                    <li><a href="{% url 'logoutfunc' %}">Logout</a></li>
                    <li><a href=""></a>Change password</li>
                    {% else %}
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        <li><a href="{% url 'accountform' %}">Account</a></li>
                    {% endif %}     
            </ul>
        </div>
        <img src="{{setting.menu_icon.url" class="menu-icon" onclick="menutoggle()">
    </div>
    {% if messages  %}
        {% for message in messages  %}
            <div class="alart alart-sucess alart {{message.tags}}" role="alert">
                <button type="button" class="close" data-dismiss="alart" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
</div>

<!-- header done  -->