{% extends 'base.html' %}
{% load static %}

{% block title %} user Account {% endblock title %}

{% block keywords %} {{setting.keywords}} {% endblock keywords %}

{% block description %} {{setting.description}}{% endblock description %}

<!-- Header and banner  -->
{% block header %} {% include 'prod_header.html' %} {% endblock header %}
<!-- Header and banner done  -->

{% block content %}
   <!-- Account page  -->
   <div class="profiledetails-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <h2 class="title"><strong>User</strong>Panel</h2>
                <ul class="panel">
                    <li><a class="btn" href="{% url 'index' %}"></a>Home</li>
                    <li><a class="btn" href="{% url 'user' %}"></a>My Account</li>
                    <li><a class="btn" href="{% url 'userupdate' %}">Update profile</a>Home</li>
                    <li><a class="btn" href="{% url 'userpassword' %}"></a>Change password</li>
                    <li><a class="btn" href="{% url 'logoutfunc' %}"></a>Logout</li>
                </ul>
            </div>
            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <h2 style="margin-top: 20px;" class="title"><strong>User</strong>Profile</h2>
                    </div>
                    <div class="details">
                        <img src="{{profile.image.url}}" style="border-radius: 30px; height: 100px;">
                        <div>
                            <p>First Name:  {{profile.first_name}}</p>
                            <p>Last Name:  {{profile.last_name}}</p>
                            <p>Email:  {{profile.user.email}}</p>
                            <p>Phone:  {{profile.phone}}</p>
                            <p>Address:  {{profile.address}}</p>
                            <p>City:  {{profile.city}}</p>
                            <p>State:  {{profile.state}}</p>
                            <p>Country:  {{profile.country}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Account page done  -->

{% endblock content %}