{% extends 'base.html' %}

{% load humanize %}


{% block title %} Checkout {% endblock title %}

{% block keywords %} {{setting.keywords}} {% endblock keywords %}

{% block description %} {{setting.description}}{% endblock description %}


<!-- Header starts  -->
{% block header %} {% include 'prod_header.html' %} {% endblock header %}
<!-- Header ends  -->


{% block content %}
    <!-- checkout page  -->
    <div class="checkout-page" style="padding: 50px 0;">
        <h2 class="title">Checkout Page</h2>
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="form container" style="height: 520px;">
                        <div class="form-buttons">
                            <h4 class="title"><strong>Order</strong>Details</h4>
                        </div>
                        <form action="{% url 'order:placeorder' %}" method="POST">
                        {% csrf_token %}
                            <input type="text" value="{{profile.first_name}}" placeholder="first Name">
                            <input type="text" value="{{profile.last_name}}" placeholder="last Name">
                            <input type="text" value="{{profile.phone}}" placeholder="Phone Number">
                            <input type="text" value="{{profile.address}}" placeholder="Address">
                            <input type="text" value="{{profile.city}}" placeholder="city">
                            <input type="text" value="{{profile.state}}" placeholder="State">
                            <input type="text" value="{{profile.country}}" placeholder="Country">
                            <input type="hidden" name="amount" value="{{total}}">
                            <input type="hidden" name="order_number" value="{{order_code}}">
                            <button type="submit" class="buttons">Proceed To Order</button>
                        </form>
                    </div>
                </div>
                <div class="col-2">
                    <div class="small-container cart-page" style="height: 520px; width:520px">
                        <div class="form buttons">
                            {% if messages  %}
                                {% for message in messages %}
                                    <div class="alart alart-success alart-{{message.tags}}" role="alert">
                                        <button type="button" class="close" data-dismiss="alart" aria-label="close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        {{message|safe }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <h4 class="title" style="text-align: center">Delivery Details</h4>
                        <table>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Size</th>
                                <th>Amount</th>
                            </tr>
                            {% if shopcart  %}
                                {% for item in shopcart %}
                                    <tr>
                                        <td>
                                            <div class="cart-info">
                                                <div>
                                                    <p>{{item.product.title}}</p>
                                                </div>
                                            </div>    
                                        </td>
                                        <td>{{item.quantity}}</td>
                                        <td>{{item.size}}</td>
                                        <td>{{item.amount | floatformat:2 | intcomma}}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                        <div class="total-price">
                            <table>
                                <tr>
                                    <td>Total</td>
                                    <td>#{{total | floatformat:2 | intcomma}}</td>
                                </tr>
                            </table>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
         
{% block footer %} {% include 'footer.html' %}{% endblock footer %}
    <!-- js for togglemenu  -->
    <script src="js/togglemenu.js"></script>
