{% extends 'base.html' %}

{% load humanize %}


{% block title %} Shopcart {% endblock title %}

{% block keywords %} {{product.keywords}} {% endblock keywords %}

{% block description %} {{product.description}}{% endblock description %}


<!-- Header starts  -->
{% block header %} {% include 'prod_header.html' %} {% endblock header %}
<!-- Header ends  -->
    
    <!-- cart items details  -->
{% block content %}
    <div class="small-container cart-page">
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Size</th>
                <th>Amount</th>
            </tr>
            {% if shopcart  %}
                {% for item in shopcart %}
                    <tr>
                        <td>
                            <div class="cart-info">
                                <img src="{{item.product.image.url}}" alt="">
                                <div>
                                    <p>{{item.product.title}}</p>
                                    <small>
                                        {% if item.discount_price %}
                                            {{item.discount_price | floatformat:2 | intcomma}}
                                        {% else %}
                                            {{item.discount | floatformat:2 | intcomma}}
                                        {% endif %}  
                                    </small>
                                    <br>
                                    <a href="{% url 'order:deletefromcart' item.id %}">Remove</a>
                                    <form action="{% url 'order:updatequantity' %}" method="POST">
                                    {% csrf_token %}
                                        <input style="width: 70px; height:20px" type="item" name="itemquantity" value="{{item.quantity}}" min="{{item.product.minquantity}}" max="{{item.product.quantity_instock}}">
                                        <button type="submit" style="color:#ff523b;font-size:12px;border:none;outline:none">update Quantity</button>
                                        <input type="hidden" name="itemid" value="{{item.id}}">
                                    </form>
                                </div>
                            </div>    
                        </td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.size}}</td>
                        <td>{{item.amount | floatformat:2 | intcomma}}</td>
                    </tr>
                {% endfor %}
            {% endif %}
                
            
            <!-- <tr>
                <td>
                    <div class="cart-info">
                        <img src="images/ladies/1.jpg" alt="">
                        <div>
                            <p>Wrangler Topskirt</p>
                            <small>Price: 15,000</small>
                            <br>
                            <a href="">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="1"></td>
                <td>15,000</td>
            </tr> -->
            <!-- <tr>
                <td>
                    <div class="cart-info">
                        <img src="images/ladies/3.jpg" alt="">
                        <div>
                            <p>Wrangler Topskirt</p>
                            <small>Price: 15,000</small>
                            <br>
                            <a href="">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="1"></td>
                <td>15,000</td>
            </tr> -->
            <!-- <tr>
                <td>
                    <div class="cart-info">
                        <img src="images/ladies/4.jpg" alt="">
                        <div>
                            <p>Wrangler Topskirt</p>
                            <small>Price: 15,000</small>
                            <br>
                            <a href="">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="1"></td>
                <td>15,000</td>
            </tr> -->
        </table>
        <div class="total-price">
            <table>
                <tr>
                    <td>Subtotal</td>
                    <td>{{subtotal | floatformat:2 | intcomma}}</td>
                </tr>
                <tr>
                    <td>Shipping</td>
                    <td>{{Shipping | floatformat:2 | intcomma}}</td>
                </tr>
                <tr>
                    <td>vat(7.50%)</td>
                    <td>{{vat | floatformat:2 | intcomma}}</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>#{{total | floatformat:2 | intcomma}}</td>
                </tr>
            </table>
        </div>
        <div class="total-price">
            <table>
                <tr>
                    <td><a href="{% url 'category' %}" class="btn">Continue</a></td>
                    <td><a href="{% url 'order:checkout' %}" class="btn">Checkout</a></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock content %}
    
    <!-- footer -->
     {% block footer %} {% include 'footer.html' %}{% endblock footer %}
    <!-- footer ends here  -->

    <!-- js for togglemenu starts  -->
    <script src="js/togglemenu.js"></script>
    <!-- js for togglemenu ends  -->
</body>
</html>