#header{
    height: 50px;
    background-color: rgb(226, 94, 46);
    color: white;
}
#branding h1{
    color: white;
}
a:link,
a:visited{
    color: rgb(226, 94, 46);
}
div.breadcrumbs{
    background-color: gray;
    color: black;
}
div.breadcrumbs a{
    color: black;
}
.module h2, .module caption, .inline-group h2 {
    background-color: gray;
    color: black;
}
.buttton.default, input[type=submit].default, .submit-row input.default, input[type="submit"], button{
    background-color: rgb(226, 94, 46);
    color: white;
}